<h1>List of Articles</h1>
{{#each articles}}
  <div>
    <ul>
      <li>Title: {{this.title}}</li>
      <li>Description: {{this.description}}</li>
      <li>Url: <a href="{{this.url}}" target="_blank">{{this.url}}</a></li>
    </ul>
  </div>
{{/each}}

<a href="/articles/new">Add a New Article</a>