<h1>Articles</h1>
<ul>
  {{#each articles}}
  <div>
    <li>Title: {{this.title}}</li>
    {{#if this.description}}
      <li>Description:{{this.description}}</li>
    {{/if}}
    <li><a href={{this.url}} target="_blank">{{this.url}}</a></li>
  </div>
  <br>
  {{/each}}
</ul>

<a href="/articles/new">Add a New Article</a>