<h1>Add a new Article!</h1>

{{#if error}}
<li>{{error}}</li>
{{/if}}

<form action="/articles" method="POST">
  <label for="title">Title:
    <input type="text" name="title" id="title">
  </label>
  
  <label for="description">Description:
    <input type="text" name="description" id="description">
  </label>

  <label for="url">URL:
    <input type="text" name="url" id="url">
  </label>

  <input type="submit" value="Add New Article">
</form>


<a href="/articles">Back to Index Page</a>